#header,
.module h2, .module caption, .inline-group h2{
    background: #2e7d32;
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

div.breadcrumbs {
    background: #1b5e20;
}