<h4 class="sidebar-title text-success">Популярные статьи</h4>
<div class="grid">


    {% for post in posts %}
    <div class="card mb-2 p-2 ">
        <div class="row">
        <div class="col">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" class="img-fluid img-thumbnail float-start me-4"
             alt="{{ post.title}}" width="200">
        {% else %}
        <img src="https://picsum.photos/id/237/300/200" alt=""
             class="mr-3 img-fluid img-thumbnail float-start me-4">
        {% endif %}
            </div>
        <div class="col">
        <div class="portfolio-text">
            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
            <span>Автор: {{ post.author }}</span> | <span>{{ post.created_at|date:"d.m.Y" }}</span>
        </div>
            </div>
            </div>
    </div>
    {% endfor %}

</div>